.caixa_informacoes {
    background-color: #FFFFFF;
    text-align: center;
    width: 800px;
    margin-left: 550px;
    margin-top: 30px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgb(206, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 0.3s;
    justify-content: center;
}
.caixa_informacoes:hover {
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.25);

}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.titulo button {
    font-size: 16px;
    border: 1px solid #fffafa
}

.caixa_informacoes input:focus {
    border: 2px solid #888;
    outline: none;
}

.texto {
    margin-bottom: 15px;
}

.texto input {
    margin-right: px;
}

.toptop img {
    height: 65px;
    width: 70px;
    border-radius: 10px;
    margin-left: 275px;
    
}

.h1top {
    margin-top: 10px;
    margin-left: 20px;
}

.toptop {
    display: flex;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 470px;
    margin-top: 20px
}

.check {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    align-items: center;
}

.check .aceitartermos {
    margin-bottom: 0;
    margin-left: 200px;
    height: 20px;

}
.check label {
    margin-top: 5px;
    margin-left: 5px;
}

.labelace {
    color: #272921;
    margin-bottom: 0;
    margin-right: 8px;
    line-height: 20px;
}

.caixa_informacoes h1 {
    font-weight: normal;
}

.caixa_informacoes h4 {
    font-weight: normal;
}

.caixa_informacoes input {
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 170px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 15px;
    margin-left: 220px;
    margin-top: 5px;
}

.titulo button {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s, color 0.3s;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;

}

.titulo button:hover {
    background: #4e3cf0;
    color: black;
}

.caixa_informacoes button {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #007BE5;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.caixa_informacoes button:hover {
    background: #074e8d;
}

.jatem {
    font-size: 14px;
    color: rgb(80, 80, 70);
}

.alink {
    text-decoration: none;
    color: #074e8d;
    font-weight: bold;
}

.caixa_informacoes h4 {
    color: rgb(122, 122, 121);
}

.corpo {
    background-color: #140de9;
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.titulo h1 {
    color: white;
    font-weight: normal;
}

.titulo button {
    color: white;
    background-color: transparent;
    border: none;
}

.nomecompleto {
    background: #f6f7f8;
    margin-bottom: 1px;
}

.gmail {
    background: #f6f7f8;
    margin-bottom: 10px;
}

.senha {
    background: #f6f7f8;
    margin-bottom: 10px;
}

.confirmarsenha {
    background: #f6f7f8;
    margin-bottom: 10px;
}

.aceitartermos {
    background: #f6f7f8;
    margin-bottom: 10px;
}
.mensagemErro {
  display: none; 
  background-color: #333;
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  font-size: 14px;
}

.mensagemErro.show {
  display: flex; 
  align-items: center;
}
.iconeErro {
  font-size: 18px;
  color: orange;
  margin-right: 8px;
}
.input-erro {
    border: 2px solid #ff3333 !important;
}
