* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 120px;
    width: 120px;
    margin-left: 250px;
}

.head {
    display: flex;
    position: fixed;
    top: 0;
    width: 1906px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.18);
}
.head h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.BotoesAcesso {
    border: none;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #007be5;
    color: white;
    cursor: pointer;
    transition: all 2s ease;
}

.BotoesAcesso:hover {
    background-color: #080558;
}

.BotoesAcesso2 {
    border: none;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.BotoesAcesso2:hover {
    border-bottom: 5px solid #3d38f5;
}

body {
    background-color: rgb(211, 229, 247);
    font-family: Arial, Helvetica, sans-serif;
}

.pagina {
    margin-top: 30px;
    margin-left: 300px;
    font-size: 30px;
    margin-top: 170px;
}

.conteiners {
    display: flex;
    margin-top: 30px;
}


.caixas1 {
    background-color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;
    border-radius: 15px;
}

.caixas1 h2 {
    font-size: 15px;
    padding-bottom: 20px;
}
.caixas2 {
    background-color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    border-radius: 15px;
}

.caixas2 h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.caixas2 h2 {
    font-size: 20px;
    padding-bottom: 20px;
}
.caixas3 {
    background-color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    border-radius: 15px;
}

.caixas3 h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

.caixas3 h2 {
    font-size: 20px;
    padding-bottom: 20px;
}


.foco {
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 90px;
    border-radius: 20px;
    padding: 30px;
}

.foco h3 {
    font-size: 25px;
}

.borda {
    border: 5px solid gray;
    padding: 20px;
    margin: 25px;
    border-radius: 20px;
}
#p7 {
    border: none;
    font-size: 30px;    
}