* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyminhasenha {
    background-color: #3d38f5;
}
.Caixaminhasenha {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: 280px;
    margin-right: 150px;
    height:400px;
    width: 750px;
    font-family: 'Times New Roman', Times, serif;
    
}
.Caixaminhasenha img {
    height: 60px;
    background-color: oklch(0.932 0.032 255);
    color: #3d38f5;
    border-radius: 50px;
    margin-top: 20px;
}
.titulotop img {  
    height: 65px;  
    width: 70px; 
    border-radius: 10px;
}
.titulotop {
    display: flex;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 470px;
    margin-top: 20px  
}
.h1top {
margin-top: 10px;
margin-left: 20px;
}
.cabeça h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Caixaminhasenha input:focus {
    border: 2px solid #888;
    outline: none;
}
.chapou {
    margin-top: 10px;
}
.minhasenhavoltar {
    background-color: #3d38f5;
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    cursor: pointer;
    transition: background 0.3;
}

.minhasenhavoltar :hover {
    background: #007BE5;
}
.cabeça {
    text-align: center;
}
.texto1 {
    font-size: 30px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto2 {
font-family: Arial, Helvetica, sans-serif;
margin-top: 10px;
color: rgb(80, 80, 70);
font-size: 14px;
}
.texto3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    text-align: left;
    margin-left: 36px;
    font-weight: bold;
}
.inputemail {
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 435px;
    padding-left: 15px;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.butaoinsano {
    color: white;
    background-color: #3d38f5;
    border-radius: 9px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    border: 1px solid #E0E0E0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 280px;
    padding-right: 280px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.caixaprecisadeajuda {
    color: white;
    background-color: #007BE5 ;
    height:100px;
    width: 750px;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}
.ai {
    text-decoration: none;
}