* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyminhasenha {
    background-color: #3d38f5;
}
.Caixaminhasenha {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 300px;
}

.caixaprecisadeajuda {
    color: white;
    background-color:rgb(44, 44, 181) ;
    padding: 40px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}