* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 130px;
    width: 120px;
    margin-left: 250px;
}

.head {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.head h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

body {
    background-color: rgb(211, 229, 247);
}

.BotoesAcesso {
    border: none;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}

.BotoesAcesso:hover {
    border-bottom: 5px solid #3d38f5;
}
.BotoesAcesso3 {
    border: none;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    background-color: #007be5;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 2s ease;
}
.BotoesAcesso3:hover {
    background-color: #1914a1;
}
.BotoesAcesso2 {
    border: none;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.BotoesAcesso2:hover {
    border-bottom: 5px solid #3d38f5;
}



.iconeperfil {
    height: 25px;
    width: 25px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
}

.botaoperfil {
    font-size: 20px;
    display: flex;
    margin-left: 1300px;
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 190px;
    text-align: center;
    border: 1px solid #aea9a9

}

.p1 {
    padding-top: px;
  
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.comecinho h1 {
    margin-top: 10px;
    font-size: 45px;
    font-weight: normal;
}

.comecinho p {
    margin-top: 10px;
    font-size: 20px;

}