* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebebf7;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    height: 120px;
    width: 120px;
    margin-left: 250px;
}

.BotoesAcesso3 {
    border: none;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    background-color: #007be5;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 2s ease;
}

.head h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.BotoesAcesso3:hover {
    background-color: #1914a1;
}

.head {
    display: flex;
    position: fixed;
    top: 0;
    width: 1906px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.18);
}

.BotoesAcesso {
    border: none;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.BotoesAcesso:hover {
    border-bottom: 5px solid #007be5;
}

.BotoesAcesso2 {
    border: none;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.BotoesAcesso2:hover {
    border-bottom: 5px solid #007be5;
}


.maesuperior {
    display: flex;
    margin-left: 20px;
}

.centralsuporte {
    text-align: center;
    font-size: 25px;
    display: flex;
    margin-top: 30px;
}

.centralsuporte img {
    margin-top: 130px;
    height: 70px;
    border-radius: 55px;
    margin-left: 780px;
}

.centralsuporte p {
    margin-top: 150px;
    margin-left: 20px;
}

.ajuda {
    text-align: center;
    font-size: 26px;
    margin-top: 70px;
    color: rgb(53, 60, 60);
    margin-top: 40px;
    margin-bottom: 30px;
}

.chat img {
    height: 70px;
    margin-top: 10px;
}

.chat button {
    background-color: #007be5;
    width: 400px;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.chat {
    background-color: white;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.18);
}


.pindividual {
    color: black;
}

.chat p {
    margin-top: 20px;
}

.p1 {
    color: rgb(54, 61, 61);
}

.p2 {
    color: rgb(54, 61, 61);
}

.maetodosuporte {
    display: flex;
    margin-bottom: 30px;
}

.barradepesquisasuporte {
    display: flex;
}

.divbackgroundperguntas {
    background-color: white;
    height: 1250px;
    width: 1110px;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-left: 110px;
}

.perguntassuporte {
    display: flex;
}

.perguntassuporte p {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 10px;
}

.perguntassuporte img {
    height: 30px;
}

.encontresuporte {
    color: rgb(54, 61, 61);
    margin-top: 13px;
    font-size: 21px;
}

.barrapesquisasuporte {
    display: flex;
    margin-top: 30px;
}

.barrapesquisasuporte input {
    border-radius: 10px;
    border-color: rgb(54, 61, 61);
    padding: 13px;
    width: 450px;
    border: 1px solid #b7b7b7;
    font-size: 18px;
}

.barrapesquisasuporte button {
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
    font-weight: lighter;
    border: 1px solid #b7b7b7;
}

.todasbuttonsuporte {
    margin-left: 20px;
    height: 50px;
    width: 80px;
}

.contabuttonsuporte {
    margin-left: 15px;
    height: 50px;
    width: 80px;
}

.investimentobuttonsuporte {
    margin-left: 20px;
    width: 140px;
}

.contasuporte {
    display: flex;
    margin-top: 35px;
}

.contasuporte img {
    height: 28px;
}

.contasuporte p {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 18px;
}

.divcontasuporte {
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}


.texto2sp {
    margin-top: 19px;
    color: rgb(110, 110, 110);
    font-size: 16px;
    padding-right: 40px;
}

.contatodiretodiv {
    margin-left: 100px;
    margin-top: 30px;
    padding-left: 20px;
    background-color: white;
    border-radius: 20px;
    height: 740px;
    width: 500px;
    padding-left: 30px;
    padding-top: 24px;
}

.contatodiretodiv button {
    background-color: #007be5;
    width: 400px;
    margin-left: 30px;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.statusmensagemdiv {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    height: 320px;
    width: 500px;
    padding-left: 30px;
    padding-top: 24px;
    margin-left: 100px;
}

.linhadivisoria {
    margin-top: 25px;
    width: 1030px;
}

.contatodireto {
    display: flex;
}

.contatodireto img {
    height: 30px;
}

.contatodireto p {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 10px;
}

.mensagemcontatodiv {
    margin-top: 13px;
    color: rgb(167, 167, 167);
    padding-right: 40px;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
}

.nomecontatodireto {
    font-size: 19px;
    margin-top: 20px;
    color: #474747;
}

.divcontatodireto input {
    border-radius: 10px;
    border-color: rgb(54, 61, 61);
    padding: 13px;
    width: 435px;
    border: 1px solid #b7b7b7;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mensagemstatus {
    color: #919191;
    font-size: 18px;
    margin-top: 35px;
    font-family: "Nunito Sans", sans-serif;
}

.linhastatus {
    margin-top: 20px;
    width: 440px;
    height: 2px;
    background-color: rgb(161, 161, 161);
}

.atualizaçãostatus {
    color: #919191;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.platdiv {
    display: flex;
}

.platdiv img {
    height: 30px;
    margin-top: 33px;
    margin-left: 200px;
}

.platdiv2 {
    display: flex;
}

.platdiv2 img {
    height: 30px;
    margin-top: 33px;
    margin-left: 160px;
}

.platdiv3 {
    display: flex;
}

.platdiv3 img {
    height: 30px;
    margin-top: 33px;
    margin-left: 135px;
}
.input-erro {
    border: 2px solid #ff3333 !important;
}


seila